@import "modules/_default.sass"
@import "modules/_color.scss"
@import "modules/_variables.scss"
@import "modules/_form.scss"
@import "modules/_grid.scss"

.header
	font-size: 4em
	padding: 25px
	text-align: center
	background: #C33764
	background: -webkit-linear-gradient(to right, #1D2671, #C33764)
	background: linear-gradient(to right, #1D2671, #C33764)
	color: #fff
	p
		font-size: 18px
		margin-top: 2%

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow])
	color: transparent