<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="../../manifest.json">
	<link rel="stylesheet" href="../../styles/css/user.css">
    <title>eWallet: Usuario</title>
    <link rel="shortcut icon" href="/eWallet/public/favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="../../js/eWallet.js"></script>
    <script src="../../js/user/init.js"></script>
    <script src="../../js/user/addEarnings.js"></script>
</head>
<body>
    <div class="menu-wraper" id="mainMenu">
        <div class="company-data">
            <div class="name">
                eWallet
            </div>
        </div>
        <div class="menu-items">
        </div>
    </div>
    <div class="content-wraper">
        <div class="header">
            <div class="header-content">
                <div class="icon-menu">
                   <i class="material-icons menu-trigger" id="slide-menu" menu="mainMenu">menu</i>
                </div>
                <div class="name-site">
                    Agregar Ingresos
                </div>
            </div>
        </div>
        <br>
        <main>
            <div class="container row"> <!-- Agregar Ingresos -->
                <form class="frmAdd" name="frmAdd">
                    <div class="input-field col s12 m8 l6 offset-l3 offset-m2">
                        <label for="txtDate">Fecha</label>
                        <input type="date" name="txtDate" id="txtDate">
                    </div>
                    <div class="input-field col s12 m8 l6 offset-l3 offset-m2">
                        <label for="cmbReason" class="select-label">Motivo</label>
                        <div class="slct-field">
                            <select id="cmbReasons" name="cmbReasons">
                            </select>
                        </div>
                    </div>
                    <div class="input-field radio col s12 m8 l6 offset-l3 offset-m2">
                        <label class="radio-label">Almacenar en</label>
                        <div>
                            <input type="radio" id="rdbCash" name="rdbType" value="Efectivo">
                            <label for="rdbCash">Efectivo</label><br>
                            <input type="radio" id="rdbAccount" name="rdbType" value="Cuenta de Ahorros">
                            <label for="rdbAccount">Cuenta de ahorros</label><br>
                            <input type="radio" id="rdbCredit" name="rdbType" value="Tarjeta de Crédito">
                            <label for="rdbCredit">Tarjeta de crédito</label>
                        </div>
                    </div>
                    <div class="input-field col s12 m8 l6 offset-l3 offset-m2">
                        <label for="cmbReason" class="select-label">Seleccionar cuenta/tarjeta</label>
                        <div class="slct-field">
                            <select id="cmbAddTo" name="cmbAddTo" disabled>
                            </select>
                        </div>
                    </div>
                    <div class="input-field col s12 m8 l6 offset-l3 offset-m2">
                        <label for="txtAmount">Monto ($)</label>
                        <input type="text" name="txtAmount" id="txtAmount">
                    </div>
                </form>
                <div class="row"></div>
                <div class="row">
					<div class="col l4 m8 s6 offset-l4 offset-m2 offset-s3">
						<div class="button left-right" id="btnAdd">
							Añadir Ingreso
						</div>
					</div>
				</div>
            </div> <!-- Fin agregar ingresos -->
        </main>
    </div>
</body>
</html>