<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="../../manifest.json">
	<link rel="stylesheet" href="../../styles/css/user.css">
    <title>eWallet: Usuario</title>
    <link rel="shortcut icon" href="/eWallet/public/favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="../../js/eWallet.js"></script>
    <script src="../../js/user/init.js"></script>
    <script src="../../js/user/vEarnings.js"></script>
</head>
<body>
    <div class="menu-wraper" id="mainMenu">
        <div class="company-data">
            <div class="name">
                eWallet
            </div>
        </div>
        <div class="menu-items">
        </div>
    </div>
    <div class="content-wraper">
        <div class="header">
            <div class="header-content">
                <div class="icon-menu">
                   <i class="material-icons menu-trigger" id="slide-menu" menu="mainMenu">menu</i>
                </div>
                <div class="name-site">
                    Ver Ingresos
                </div>
            </div>
        </div>
        <br>
        <main>

            <table class="tblEarnings">
                <thead>
                    <th>N°</th>
                    <th>Motivo</th>
                    <th>Almacenado en</th>
                    <th>Monto</th>
                </thead>
                <tbody>
                </tbody>
            </table>

        </main>
    </div>
</body>
</html>