<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="../../manifest.json">
	<link rel="stylesheet" href="../../styles/css/user.css">
    <title>eWallet: Usuario</title>
    <link rel="shortcut icon" href="/eWallet/public/favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <script src="../../js/eWallet.js"></script>
    <script src="../../js/user/init.js"></script>
    <script src="../../js/user/vAccounts.js"></script>
</head>
<body>
    <div class="menu-wraper">
        <div class="company-data">
            <div class="name">
                eWallet
            </div>
        </div>
        <div class="menu-items">
        </div>
    </div>
    <div class="content-wraper">
        <div class="header">
            <div class="header-content">
                <div class="icon-menu">
                    <i class="material-icons" id="slide-menu">menu</i>
                </div>
                <div class="name-site">
                    Ver Cuentas
                </div>
            </div>
        </div>
        <br>
        <main>

            <table class="tblAccounts">
                <thead>
                    <th>N°</th>
                    <th>Banco</th>
                    <th>Número de Cuenta</th>
                    <th>Saldo</th>
                </thead>
                <tbody>
                </tbody>
            </table>

        </main>
    </div>
    
</body>
</html>